.main_1 {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.img_1 {
    height: 40rem;
    width: 40rem;
    border-radius: 0.5rem;
}

.img_1 img {
    height: 40rem;
    width: 40rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

.details {
    
    width: 30rem;
   
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.comments_a {
    margin-top: 1rem;
    background-color: gainsboro;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
